.nav-link{
  margin-left:  10px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .nav-link:hover{
    background-color: goldenrod;
  }
  /* navabar sticky */
#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #333333;
}

#content {
  min-height: 200vh;  /* to demonstrate scrolling */
  border: 1px solid lightblue;
}
.contact{
    color: white;
    text-align: center;
    justify-content: center;
}
.IMG{
    width: 100%;
    height: 50px;
}
.h5{
    text-align: center;
    color:black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* follow icon */
.follow{
  font-weight: 700;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: goldenrod;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;

}
.fa:hover {
  opacity: 0.7;
}

.i1 {
background: #3B5998;
color: white;
}

.i2 {
background: #55ACEE;
color: white;
}

.i3 {
  background: #f55399;
  color: white;
}
.form{
    background-color: lightgoldenrodyellow;
    padding: 70px;
}
.sentence {
  background: #0c0c0d;
  background: -webkit-linear-gradient(to right, #100e12, #cf8bf3, #a5522e);
  background: linear-gradient(to right, #101010, #86788d, #565b0d);
  padding: 50px;
  color: #ffff;
}
.sentence{
    margin-top: 60px;
    margin-bottom: 60px;
    letter-spacing: 2px;
    font-size: large;
    font-weight: bold;
    background-color: lemonchiffon;
}
.open{
    text-align: center;
    color: #fff;
}
.banner{
  background: #0c0c0d;
  background: -webkit-linear-gradient(to right, #29282a, #de82fd, #a5522e);
  background: linear-gradient(to right, #3d3615, #000000, #2b2523);
}
.button{
    background-color: green;
    color: #fff;
    letter-spacing: 1px;
    border: 0;
    padding: 6px;
}


.ip{
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  kerning: auto;
}

/* footer */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}